.form {
  display: flex;
  justify-content: center;
  padding: 2rem 3rem;
  width: 60%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: auto;
  margin-block: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1px);
  transition: all 0.3s;
}

.form input {
  height: 4rem;
  cursor: pointer;
  width: 8rem;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.form input::placeholder {
  font-size: 2rem;
  text-align: center;
}

.form input:focus,
.form input:active {
  outline: none;
}

@media only screen and (max-width: 450px) {
  .form {
    flex-direction: column;
    align-items: center;
  }

  .form input {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .form {
    width: 95%;
  }

  .form input {
    width: 95%;
  }
}
